.form-group{

    width: 50%;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 2%;
    font-size: 25px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px black;
}

H1{
    margin: auto;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    letter-spacing: 15px;
    text-shadow: 5px 5px 20px black;
    
}

.titre{
    margin-top: 5%;
    margin-bottom: 2%;
}

body{
    background-color:cadetblue;
    background: linear-gradient(90deg, #12769B, rgb(7, 48, 87));
    
}

.btn{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 250px;
    box-shadow: 5px 5px 20px black;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}


#email{
    box-shadow: 5px 5px 20px black;
    
}

#password{
    box-shadow: 5px 5px 20px black;
}

#bio{
    box-shadow: 5px 5px 20px black;
}

#name{
    box-shadow: 5px 5px 20px black;
}

#logo{
    width: 800px;
    position: absolute;
    margin-top: 1%;
    margin-left: 50%;
    z-index: -1000;
    opacity: 0.1;
    transform: rotateZ(15deg);
}

#pika{
    margin-top: 28%;
    position: absolute;
    width: 300px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: introtext;
}

@keyframes introtext {
    from {

       
        transform: translateX(-530px);
         
    }      
    to {
           
        transform: translateX(1880px);
    }
}

#duck{
    position: absolute;
    margin-top: 15%;
    animation-duration: 40s;
    
    animation-name: ducking;
}
@keyframes ducking {
    from {

       
        transform:scale(0.01);
         
    }      
    to {
           
        transform: scale(1);
    }
}

.autor{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;

}

a{
    text-decoration: none;
}


